doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pet Resort 
        link(rel="stylesheet", href="resort.css")
    body 
        .index-container 
            .header    
                .logo 
                    img(src="images/pet-resort-logo.webp", alt="")
                    h1 Pet resort
                .nav 
                    ul 
                        li: a(href="index.html") Home 
                        li: a(href="index.html") About                 
                        li: a(href="index.html") Dogs 
            .card.main
                h2 Pet Resort 
                p Where pets are royalty 
            .card.partners 
                h2 Partners
                p We partner with many influental companies to bring your pet the best experience possible.
                .partner-img-box 
                    img(src="images/logo-activision.webp", alt="")
                    img(src="images/logo-AstraZenca.webp", alt="")
                    img(src="images/logo-chatgpt.webp", alt="")
                    img(src="images/logo-fedex.webp", alt="")
                    img(src="images/logo-gucci.webp", alt="")
                    img(src="images/logo-lego.webp", alt="")
                    img(src="images/logo-paypal.webp", alt="")
            .card.offer 
                .offer-img: img(src="images/groomin.webp", alt="")
                .offer-content 
                    h2 October Grooming 
                    p Get your best friend ready for a total make-over while at the same time being spoilt silly
                    a: .btn(href="") Book Grooming 
            .card.merch     
                img: .card-img(src="images/dog-wear.webp", alt="card-image")
                h2 Merch 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum ea ad blanditiis beatae! Atque dicta error eligendi tenetur dolorum natus, neque soluta ab eveniet deserunt. Hic consequuntur eveniet delectus labore.
                a: .btn(href="") Boka 
            .card.dining 
                img: .card-img(src="images/4dogs.webp", alt="card-image")
                h2 Buddies for life 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolore recusandae est facere molestias nobis maxime optio quam! Fuga iste, molestias debitis cupiditate deleniti explicabo? Dolore numquam dolor quos quidem.
                a: .btn(href="")  boka
            .card.dining 
                img: .card-img(src="images/ritz.webp", alt="card-image")
                h2 Fine dining 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi labore adipisci itaque dolores earum obcaecati, odio omnis nemo? Recusandae reprehenderit, non enim deleniti est dolore et aut eos voluptates eius.
                a: .btn(href="") boka 
            